
<%- include("partials/header.ejs") -%>

  <h1>Home</h1>
  <p><%= startingContent %></p>

  <% posts.forEach(function(post) { %>
    <h2>
      <%= post.title %>
    </h2>
    <p class="mb-2">
      by: <strong><%= post.author %></strong>
    </p>
    <p>
      <%= post.content.substr(0, 100) %>...
      <a href="/posts/<%= post._id %>"> Read More</a>
      <%
        // console.log(kebabCase(post.title));
        // console.log(post.title);
      %>
    </p>
  <% }); %>

<%- include("partials/footer.ejs") -%>
