<%- include("header") -%>
  <div class="box" id="heading">
    <h1> <%= listTitle %></h1>
  </div>


  <div class="box">
    <% itemsList.forEach(function(item) { %>
      <form action="/delete" method="post">
        <label for="<%= item._id.toHexString() %>" class="item-label">
          <div class="item">
            <input type="checkbox" name="checkbox" value="<%= item._id.toHexString() %>" onchange="this.form.submit()" id="<%= item._id.toHexString()  %>">
            <input type="hidden" name="list" value="<%= listTitle %>"></input>
            <p> <%= item.name %></p>
          </div>
        </label>
      </form>
    <% }); %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItemName" placeholder="New Item">

      <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
</div>

<%- include("footer") -%>
